.card{
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.icon{
    font-size: 30px;
    width: fit-content;
}

.red{
    background-color: rgb(208, 79, 79);
}

.green{
    background-color: rgb(47, 175, 47);
}

.orange{
    background-color: rgb(204, 157, 68);
}

.blue{
    background-color: rgb(73, 73, 219);
}