<mat-list role="list">

    <div class="profile-card">
        <img src="https://cdn.pixabay.com/photo/2020/07/01/12/58/icon-5359553_1280.png" alt="no image">
        <h3>Admin</h3>
        <h4>admin@gmail.com</h4>
    </div>

    <mat-divider></mat-divider>
    <h4 mat-subheader>Pages</h4>
    <a mat-list-item routerLinkActive="list-list-active" routerLink="/">Dashboard</a>
    <a mat-list-item  routerLinkActive="list-list-active" routerLink="/">Institution</a>
    <a mat-list-item  routerLinkActive="list-list-active" routerLink="/">Students</a>
    <a mat-list-item  routerLinkActive="list-list-active" routerLink="/">Placements</a>
    <a mat-list-item  routerLinkActive="list-list-active" routerLink="/">Statistics</a>
    <a mat-list-item  routerLinkActive="list-list-active" routerLink="/">Courses</a>
    <a mat-list-item  routerLinkActive="list-list-active" routerLink="/">Employees</a>

  </mat-list>
  